<mat-card>
        <h1>Classify a document</h1>
        <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field style="width: 400px;" appearance="outline">
                <textarea
                    matInput placeholder="Insert here an article for classification"
                    [(ngModel)] = "text"
                    name = "text"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="15"
                    cdkAutosizeMaxRows="20"                           
                >
                </textarea>     
            </mat-form-field>                  
            <div >
                <button mat-raised-button color="primary">Classify</button>
            </div>
        </form>
    </mat-card>