<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item *ngIf="isAuthenticated" routerLink="items" routerLinkActive="active">Items</a> -->
      <a mat-list-item *ngIf="!isAuthenticated" routerLink="login" routerLinkActive="active">Login</a>
      <a mat-list-item *ngIf="isAuthenticated" routerLink="blogPosts" routerLinkActive="active">Blog posts</a>
      <a mat-list-item *ngIf="isAuthenticated" routerLink="savedPosts" routerLinkActive="active">Saved posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
     
      <span class = "spacer"></span>      
      <a class ="whitelink" *ngIf="isAuthenticated" (click)="onLogout()">Loogout</a>
    </mat-toolbar>
    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
