<mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar *ngIf = "categoryImage"> 
                   <img [src] = "categoryImage"> 
                </div>
                <mat-card-title>Your article belongs to: {{category}} category</mat-card-title>
            </mat-card-header>
                <b>This is your article: </b><br><br>
                <p>
                  {{classificationService.doc}}
                </p>
             <mat-card-actions>
            
                <button mat-raised-button color="primary" [routerLink] ="'/classification'">Back to classify</button>
            </mat-card-actions>
        </mat-card>
</mat-card>
        