
<p *ngIf="!(posts$ | async)"> loading posts...</p>
<mat-accordion>
    <div class="container">
    <!-- <a *ngIf = "(posts$ | async)" class = "btn btn-outline-primary" (click) ="addPostsToFirestore()">Save to firestore</a> -->
    <!-- <button mat-raised-button color="primary" [routerLink]="'/postform'">Add post</button> -->
   
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let post of posts$ | async">
        <mat-expansion-panel-header>
        <mat-panel-title>
        <b>Post titel :</b>  
         {{post.title}}--- 
         <b>Post ID</b><p>:{{post.id}}</p>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p><b>Post body:</b> {{post.body}}</p>
        <p><b>Comment:</b> {{post.postBody}}</p>
        <p>{{userId}}</p>
        <mat-card-actions>
        <button mat-raised-button color="primary" 
        (click) = "save(post.id, userId)">Save</button>
        <button mat-button (click)="addLikes()" >LIKE</button><span *ngIf="likes!=0">{{likes}}</span><!-- בתוך הבאטן אני מבצע קריאה לאירוע בשם קליק -->
        </mat-card-actions>
        <!-- <button mat-raised-button color="primary"
          [routerLink]="'/postform/'+post.id">
          Edit
        </button>   -->
    </mat-expansion-panel></div>

</mat-accordion>

